nav{
    margin-bottom: 10px;
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 18pt;
    
}

nav ul {
    display: block;
    list-style: none;
    font-size: 5px;
}

nav ul li{
    display: block;
}

nav ul li a {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 2px 4px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}


/* Style buttons */

.btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 2px 4px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }