{%extends 'nav_only.html' %}

{%block content%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>LOGIN</title>
    </head>
    <body>
        <h3>Login</h3>
        <br>
        <div>
            {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        </div>
        <div>
            <form method="POST" action="/login">
                <input type="email" name="email" placeholder="Your Email" autofocus="">
                <input type="password" name="password" placeholder="Your Password">
                <label class="checkbox">
                    <input type="checkbox" name="rememberMe">
                    Remeber Me
                </label>
                <button class="button">Login</button>
            </form>
        </div>
    </body>
</html>


{%endblock%}